@model mboard.Models.Message

@{
    ViewBag.Title = "Details";
}

<h2>Czytaj</h2>

<div>
    <h4>Wiadomość</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Content)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserTo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserTo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserFrom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserFrom)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Otrzymane", "MessagesReceived", null, new { @class = "btn btn-primary" })
</p>
