@model IEnumerable<mboard.Models.Board>

@{
    ViewBag.Title = "FriendsDetails";
}

<h2>FriendsDetails</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisibleForFriends)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisibleForFriends)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "Test",new { id=item.Id },null) |
        </td>
    </tr>
}

</table>
