@*@using Microsoft.AspNet.Identity;*@
@model IEnumerable<mboard.Models.Board>

@{
    ViewBag.Title = "Tablice";
}

@*<h2>Index</h2>*@
<hr />
@Html.ActionLink("Nowa Tablica", "Create", "Test")
<hr />
<p>

    @*@ViewBag.Message;*@
    @* @Html.ActionLink("Create New", "Create")*@
</p>

<div class="board-container">
    @foreach (var item in Model)
    {
        <div class="btn btn-default board-thumb">
            @Html.DisplayFor(modelItem => item.Title)
           
            @Html.ActionLink("Edit", "Edit", new { id = item.Id})
            @*<p>@item.Id</p>*@
        </div>
    }
</div>


