@*@using Microsoft.AspNet.Identity;*@
@model IEnumerable<mboard.Models.Board>

@{
    ViewBag.Title = "Tablice";
}

<h2>Moje</h2>
<h4>Tablice</h4>

<hr />
<button class="btn btn-success" onclick="location.href='@Url.Action("Create", "Test")'">
    Nowa Tablica
</button>
<hr />
<p>
    @using (Html.BeginForm("Index", "Test"))
    {
    <p>
        Nazwa: @Html.TextBox("SearchString")
        <input class="btn btn-primary btn-sm" type="submit" value="Szukaj" />

        <input class="form-control" id="searchInput" placeholder="Szukaj..." />
    </p>
    }
    @*@ViewBag.Message;*@
    @* @Html.ActionLink("Create New", "Create")*@

    @*<div class="board-container">
        @foreach (var item in Model)
        {
            <div class="btn btn-default board-thumb">
                @Html.DisplayFor(modelItem => item.Title)

                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </div>
        }
    </div>*@

    <div id="board-container">
    <div class="row">

        @foreach (var item in Model)
        {

            <div class="col-xs-6 col-md-3 thumb-container">
                <div class="thumbnail">
                    <img src="" alt="" />
                    <div class="caption">
                        <h3>
                            @Html.DisplayFor(modelItem => item.Title)
                        </h3>

                    </div>

                    <p>...</p>
                    <p>@Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })</p>


                </div>
            </div>

        }

    </div>
</div>

    

    <hr />
    <p>
        @{Html.RenderAction("Index", "Tag");}
    </p>

<script src="~/Scripts/jquery-3.2.1.js"></script> @*20180120 trzeba zaciagnac z bundla*@

 <script>
     $(document).ready(function () {

         $('#searchInput').on('keyup', function () {
             var searchTerm = $(this).val().toLowerCase();
             $('.thumb-container').each(function () {
                 var lineStr = $(this).text().toLowerCase();
                 if (lineStr.indexOf(searchTerm) === -1) {
                     $(this).hide();
                 } else {
                     $(this).show();
                 }
             });
         });

     });
 </script>