@using mboard.Models;
@model IEnumerable<RelationWithNode<User, FriendRelation>>

@{
    ViewBag.Title = "Friends";
}

<h2>Znajomi</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NodeData.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationData.Created)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NodeData.Email)
        </td>
        <td>s
            @Html.DisplayFor(modelItem => item.RelationData.Created)
        </td>
        <td>
            @using (Html.BeginForm("FriendRemove", "Friend"))
        {
            @Html.AntiForgeryToken()
            @Html.Hidden("id", item.RelationData.Id)
            <input class="btn btn-danger btn-sm" type="submit" value="Usuń" />
    }
        </td>
        <td>
            @Html.ActionLink("Tablice", "FriendDetails", "Friend", new { Id = item.NodeData.Id }, new { @class = "btn btn-primary btn-sm" })
        </td>
        <td>
            @Html.ActionLink("Wyślij wiadomość", "SendMessage", "Message", new { Email = item.NodeData.Email }, new { @class = "btn btn-success btn-sm" })
        </td>
    </tr>
}

</table>
