@using mboard.Models;
@model IEnumerable<RelationWithNode<User, FriendRelation>>

@{
    ViewBag.Title = "Friends";
}

<h2>View</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NodeData.Email)
            @Html.DisplayNameFor(model => model.RelationData.Created)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NodeData.Email)
            @Html.DisplayFor(modelItem => item.RelationData.Created)
        </td>
        <td>
            @using (Html.BeginForm("FriendRemove", "Friend"))
        {
            @Html.Hidden("id", item.RelationData.Id)
            <input type="submit" value="Usuń" />
    }
        </td>
        <td>
            @using (Html.BeginForm("FriendDetails", "Friend"))
        {
            @Html.Hidden("id", item.NodeData.Id)
            <input type="submit" value="Obejrzyj" />
    }
        </td>
        <td>
        @Html.ActionLink("Wyślij wiadomość", "SendMessage", "Message", new { Email = item.NodeData.Email}, null)
        </td>
    </tr>
}

</table>
