@using mboard.Models;
@model IEnumerable<RelationWithNode<Board, UserBoardRelation>>

@{
    ViewBag.Title = "FriendDetails";
}

<h2>FriendDetails</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NodeData.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NodeData.VisibleForFriends)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NodeData.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NodeData.VisibleForFriends)
            </td>
            <td>
                @Html.ActionLink("Obejrzyj", "Details", "Test",new { Id = item.NodeData.Id, UserId = item.RelationData.Id },null)
            </td>
        </tr>
    }

</table>
