@model IEnumerable<mboard.Models.User>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using(Html.BeginForm("Index", "Friend"))
{
    <p>
        Title: @Html.TextBox("SearchString")
        <input type = "submit" value="Search" />
    </p>    
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th></th>
    </tr>

    @foreach(var item in Model)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>

            <td>
                @using (Html.BeginForm("Invite", "Friend"))
                {
                @Html.Hidden("id", item.Id)
                <input type="submit" value="Invite" />
                }
            </td>
        </tr>
    }

</table>
